[submodule "SHUD"]
	path = SHUD
	url = https://github.com/DankerMu/SHUD-up.git
[submodule "AutoSHUD"]
	path = AutoSHUD
	url = https://github.com/DankerMu/AutoSHUD.git
[submodule "rSHUD"]
	path = rSHUD
	url = https://github.com/DankerMu/rSHUD.git
